@import url('https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&family=Poetsen+One&display=swap');


body {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
   background-color: #302f3d;
}

a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease; /* Smooth color transition */
  font-size: 20px;
}

a:hover {
  color: #d5ccff; /* Change color on hover to accent color */
}

.btn-primary{
 background-color: #b9ffb3;
 color: black;
 border: none;
}

.btn-info{
 background-color: #ffffb3;
 color: black;
  border: none;
}

.btn-danger{
 background-color: #ff5724;
 color: white;
  border: none;
}

.btn-success{
 background-color: #009485;
 color: white;
  border: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding: 5px 15px;
  border-bottom: solid 1px var(--bg-primary-focus);
  box-shadow: 5px 2px var(--bg-base-100);
  background-color: #302f3d;
  color: var(--bg-primary-content);
}

header img {
  height: 100%;
}

header div {
  height: 100%;
  display: flex;
  align-items: flex-end;
  font-size: 20px;
  padding-right: 20px;
  color: white;
}
header div span{
  height: 100%;
  display: flex;
  align-items: flex-end;
  font-size: 20px;
  color:#44adee;
  padding-left: 5px;
  padding-right: 2px;
}


header #links {
  gap: 20px;
  justify-content: flex-start;
  align-items: flex-end;
  padding-right: 20px;
}

header .cart {
  font-size: x-large;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

header .cart #cart-items {
  font-size: .7em;
  height: 50%;
  align-items: start;
  padding-left: 5px;
}

main {
  display: grid;
  grid-template-columns: 350px auto;
  margin-top: 15px;
  height: 87vh;
  background-color: var(--bg-base-200);
}

main > .filter-box {
  width: 350px;
  padding: 15px;
  background-color: var(--bg-primary);
}

.filter-box h3{
color: #ffb3d9;
}

.form-label{
color: #d5ccff;
}

main #min-price .slider-selection {
  background: var(--bg-base-300);
}

main > .content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  height: 87vh;
  overflow: auto;
   background-color: var(--bg-primary);
}

main > .content-form {
  display: flex;
  flex-direction: column;
     background-color: var(--bg-primary);
}

.content-form-width{
width: 1430px;
  padding: 20px 80px;
}

main > .content-form .cart-header,
main > .content-form .cart-item {
  border-bottom: solid 1px var(--bg-base-300);
}

.cart-header h1{
color: #ffb3d9;
}

.content-form .photo {
  display: flex;
  gap: 10px;
}

.content-form .photo img {
  width: 100px;
  cursor: pointer;
  border: solid 1px var(--bg-base-300);
}

.content-form .cart-header button{
 margin: 5px
}

.content-form .cart-total {
  margin: 10px 0;
  color: var(--bg-secondary);
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: solid 1px grey;
  padding: 5px;
  border-radius: 20px;
  margin: 15px;
  align-items: center;
  background: #302f3d;
  padding: 10px;
}

.product h4{
font-weight: bolder;
font-size: 30px;
color: #ffb3d9;
}

.product p{
font-size: 18px;
color: #d5ccff;
}

.product .photo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product .photo > img {
  width: 100%;
  border: solid 1px var(--bg-base-300);
  border-radius: 10px;
  margin: 20px 0px;
   filter: brightness(100%);
}

.product .price {
  font-weight: 900;
  color: white;
}

.modal-body img {
  width: 100%;
}

.product > .add-button {
  display: flex;
   width: 100%;
   justify-content: space-evenly;
}

/* Add this to your stylesheet */
.quantity {
  font-weight: bold;
  color: var(--bg-base-content);
  margin-top: 10px;
}

.visible {
  display: block;
}

.hidden {
  display: none !important;
}

.modal {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  padding: 30px;
}

.modal-dialog {
  width: 50vw;
}

#errors {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100vw;
  padding-top: 0.9px;
  margin-top: 10px;
  background-color: #d5ccff;
}

#errors > div {
  width: 33vw;
}

.alert {
  margin-bottom: 2px !important;
  background-color: var(--bg-error);
  color: var(--bg-base-content);
}


footer {
   background: white;
    padding: 20px 0;
    border-top: 1px solid #dee2e6;
}

.footer p {
    margin-bottom: 0;
}

.footer ul li {
    display: inline-block;
    margin-left: 10px;
}

.footer ul li:first-child {
    margin-left: 0;
}
